<div class="galgulator">
  <div class="history-stack">
    <div class="state">1 + 1 =</div>
  </div>
  <div class="screen">
    <div class="q">
      <span>2</span>
    </div>
  </div>
  <div class="keypad row clearfix">
    <div class="basic pull-right col-sm-48">
      <div class="row">{%
        for key in [
          ['(', null, 'op'],
          [')', null, 'op'],
          ['%', null, 'op'],
          ['AC', 'AC', 'fn'],

          [7, 7, 'no'],
          [8, 8, 'no'],
          [9, 9, 'no'],
          [':', ':', 'op'],

          [4, 4, 'no'],
          [5, 5, 'no'],
          [6, 6, 'no'],
          ['x', 'x', 'op'],

          [1, 1, 'no'],
          [2, 2, 'no'],
          [3, 3, 'no'],
          ['-', '-', 'op'],

          [0, 0, 'no'],
          ['.', '.', 'ex'],
          ['=', '=', 'is'],
          ['+', '+', 'op'],
        ]
      %}
        <div class="col-sm-21">
          <button class="key {{ key[2] }}"
            data-key-data="{{ key[1] | safe }}">
            {{ key[0] | safe }}
          </button>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="extended pull-left col-sm-36">
      <div class="row">
        <div class="col-sm-56">
          <button class="key op">Rad/Deg</button>
        </div>

      {%
        for key in [
          ['x!', null, 'op'],

          ['Inv', null, 'op'],
          ['sin', null, 'op'],
          ['ln', null, 'op'],

          ['&Pi;', null, 'op'],
          ['cos', null, 'op'],
          ['log', null, 'op'],

          ['e', null, 'op'],
          ['tan', null, 'op'],
          ['&radic;', null, 'op'],

          ['ANS', null, 'op'],
          ['EXP', null, 'op'],
          ['x<sup>y</sup>', '^', 'op'],
        ]
      %}
        <div class="col-sm-28">
          <button class="key {{ key[2] }}"
            data-key-data="{{ key[1] | safe }}">
            {{ key[0] | safe }}
          </button>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
